.sider{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #1743EA !important;

  .ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu, .user-menu{
    background-color: transparent !important;
    color: white !important;
    border-right: none !important;
    overflow: hidden;
  }


  .ant-menu-item-selected{
    background-color: transparent !important;
    font-weight: bold;
    color: white !important;

    &:focus{
      transition: none !important;
    }
  }

  .ant-menu-item-active{
    background-color: transparent !important;
  }

  .support-links{
    button{
      height: 52px;
      background: rgba(255, 255, 255, 0.2);
      border: none;
    }
  }
}

.site-layout{
  background: #F2F2F2 !important;
}

